In [1]:
#
# libraries
#
import pandas as pd

In [2]:
#
# load data
#
engine_power = pd.read_csv('../datasets/engine_power.csv')

In [3]:
#
# inspect the data
#
engine_power.head()

         datetime       power
0  2020-1-1 00:00  221.403466
1  2020-1-1 01:55  327.370592
2  2020-1-1 03:50  223.272440
3  2020-1-1 04:04  328.380592
4  2020-1-1 05:45  329.109239

In [4]:
engine_power.dtypes

datetime     object
power       float64
dtype: object

In [5]:
#
# use the Pandas method pd.to_datetime() to convert
# the datetime column from a string to a Pandas Timestamp
#
engine_power['datetime'] = pd.to_datetime(engine_power['datetime'])
engine_power.dtypes
#

datetime    datetime64[ns]
power              float64
dtype: object

In [6]:
#
# use the total_seconds attribute of Timedelta 
# to compute the seconds from the starting date
# for each date in the data
#
engine_power['sec_from_start'] = \
[(engine_power.loc[i, 'datetime'] -
  engine_power.loc[0, 'datetime']).total_seconds()
 for i in engine_power.index]
engine_power

                datetime       power  sec_from_start
0    2020-01-01 00:00:00  221.403466             0.0
1    2020-01-01 01:55:00  327.370592          6900.0
2    2020-01-01 03:50:00  223.272440         13800.0
3    2020-01-01 04:04:00  328.380592         14640.0
4    2020-01-01 05:45:00  329.109239         20700.0
...                  ...         ...             ...
2114 2020-04-15 11:02:00  131.620792       9111720.0
2115 2020-04-15 11:16:00    8.703348       9112560.0
2116 2020-04-15 12:43:00   23.701833       9117780.0
2117 2020-04-15 12:57:00  110.785479       9118620.0
2118 2020-04-15 13:12:00   22.869297       9119520.0

[2119 rows x 3 columns]

In [7]:
#
# do the same thing, except get the days
# as a decimal value from the start
#
engine_power['days_from_start'] = \
(engine_power['datetime'].values -
 engine_power['datetime'][0].value).astype(float) / (24 * 60 * 60 * 1e9)
engine_power

                datetime       power  sec_from_start  days_from_start
0    2020-01-01 00:00:00  221.403466             0.0         0.000000
1    2020-01-01 01:55:00  327.370592          6900.0         0.079861
2    2020-01-01 03:50:00  223.272440         13800.0         0.159722
3    2020-01-01 04:04:00  328.380592         14640.0         0.169444
4    2020-01-01 05:45:00  329.109239         20700.0         0.239583
...                  ...         ...             ...              ...
2114 2020-04-15 11:02:00  131.620792       9111720.0       105.459722
2115 2020-04-15 11:16:00    8.703348       9112560.0       105.469444
2116 2020-04-15 12:43:00   23.701833       9117780.0       105.529861
2117 2020-04-15 12:57:00  110.785479       9118620.0       105.539583
2118 2020-04-15 13:12:00   22.869297       9119520.0       105.550000

[2119 rows x 4 columns]