In [1]:
#2 Import pandas:
import pandas as pd

In [2]:
#3 Next, load the CSV file as a DataFrame on the notebook and read the CSV file:
file_url_2018 = 'https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter06/Data/store_sales_demographics_2018.csv'
file_url_2019 = 'https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter06/Data/store_sales_demographics_2019.csv'

data_frame_2018 = pd.read_csv(file_url_2018)
data_frame_2019 = pd.read_csv(file_url_2019)

In [3]:
#4 Use the head() function to display the first 5 rows of the first DataFrame:
data_frame_2018.head()

   store_id  M0-24  M25-54  M55  F0-24  F25-54  F55
0         1     34      27   60     54      17   98
1         2     54      73   89     25      12   78
2         3     86      66   68     81      32   75
3         4     19      58   55     37      70   12
4         5     91      17   46     67      19   14

In [4]:
#5 Use the head() function to display the first 5 rows of the second DataFrame:
data_frame_2019.head()

   store_id  M0-24  M25-54  M55  F0-24  F25-54  F55
0         1     46      16   28     62      98   76
1         2     44      92   60     26      86   50
2         3     53      85   50     84      34   44
3         4     88      71   45     48      19   34
4         5     37      18   45     45      10   11

In [5]:
#6 Create a new column called year for the first DataFrame then display it:
data_frame_2018["year"] = 2018
data_frame_2018

   store_id  M0-24  M25-54  M55  F0-24  F25-54  F55  year
0         1     34      27   60     54      17   98  2018
1         2     54      73   89     25      12   78  2018
2         3     86      66   68     81      32   75  2018
3         4     19      58   55     37      70   12  2018
4         5     91      17   46     67      19   14  2018

In [6]:
#7 Create a new column called year for the first DataFrame then display it:
data_frame_2019["year"] = 2019
data_frame_2019

   store_id  M0-24  M25-54  M55  F0-24  F25-54  F55  year
0         1     46      16   28     62      98   76  2019
1         2     44      92   60     26      86   50  2019
2         3     53      85   50     84      34   44  2019
3         4     88      71   45     48      19   34  2019
4         5     37      18   45     45      10   11  2019

In [7]:
#8 Concatenate the two DataFrame then display it:
data_frame = pd.concat([data_frame_2018, data_frame_2019])
data_frame

   store_id  M0-24  M25-54  M55  F0-24  F25-54  F55  year
0         1     34      27   60     54      17   98  2018
1         2     54      73   89     25      12   78  2018
2         3     86      66   68     81      32   75  2018
3         4     19      58   55     37      70   12  2018
4         5     91      17   46     67      19   14  2018
0         1     46      16   28     62      98   76  2019
1         2     44      92   60     26      86   50  2019
2         3     53      85   50     84      34   44  2019
3         4     88      71   45     48      19   34  2019
4         5     37      18   45     45      10   11  2019

In [8]:
#9 Convert the demographics columns into rows then display the DataFrame:
data_frame = data_frame.melt(id_vars=["year", "store_id"],var_name=["demographic"],value_name="sales")
data_frame

    year  store_id demographic  sales
0   2018         1       M0-24     34
1   2018         2       M0-24     54
2   2018         3       M0-24     86
3   2018         4       M0-24     19
4   2018         5       M0-24     91
5   2019         1       M0-24     46
6   2019         2       M0-24     44
7   2019         3       M0-24     53
8   2019         4       M0-24     88
9   2019         5       M0-24     37
10  2018         1      M25-54     27
11  2018         2      M25-54     73
12  2018         3      M25-54     66
13  2018         4      M25-54     58
14  2018         5      M25-54     17
15  2019         1      M25-54     16
16  2019         2      M25-54     92
17  2019         3      M25-54     85
18  2019         4      M25-54     71
19  2019         5      M25-54     18
20  2018         1         M55     60
21  2018         2         M55     89
22  2018         3         M55     68
23  2018         4         M55     55
24  2018         5         M55     46
25  2019         1         M55     28
26  2019         2         M55     60
27  2019         3         M55     50
28  2019         4         M55     45
29  2019         5         M55     45
30  2018         1       F0-24     54
31  2018         2       F0-24     25
32  2018         3       F0-24     81
33  2018         4       F0-24     37
34  2018         5       F0-24     67
35  2019         1       F0-24     62
36  2019         2       F0-24     26
37  2019         3       F0-24     84
38  2019         4       F0-24     48
39  2019         5       F0-24     45
40  2018         1      F25-54     17
41  2018         2      F25-54     12
42  2018         3      F25-54     32
43  2018         4      F25-54     70
44  2018         5      F25-54     19
45  2019         1      F25-54     98
46  2019         2      F25-54     86
47  2019         3      F25-54     34
48  2019         4      F25-54     19
49  2019         5      F25-54     10
50  2018         1         F55     98
51  2018         2         F55     78
52  2018         3         F55     75
53  2018         4         F55     12
54  2018         5         F55     14
55  2019         1         F55     76
56  2019         2         F55     50
57  2019         3         F55     44
58  2019         4         F55     34
59  2019         5         F55     11

In [9]:
#10 Split the "demographic" column into 2 columns called "gender" and "age_group" then display the DataFrame:
data_frame['gender'] = data_frame.demographic.str[0].astype(str)
data_frame['age_group'] = data_frame.demographic.str[1:].astype(str)
data_frame

    year  store_id demographic  sales gender age_group
0   2018         1       M0-24     34      M      0-24
1   2018         2       M0-24     54      M      0-24
2   2018         3       M0-24     86      M      0-24
3   2018         4       M0-24     19      M      0-24
4   2018         5       M0-24     91      M      0-24
5   2019         1       M0-24     46      M      0-24
6   2019         2       M0-24     44      M      0-24
7   2019         3       M0-24     53      M      0-24
8   2019         4       M0-24     88      M      0-24
9   2019         5       M0-24     37      M      0-24
10  2018         1      M25-54     27      M     25-54
11  2018         2      M25-54     73      M     25-54
12  2018         3      M25-54     66      M     25-54
13  2018         4      M25-54     58      M     25-54
14  2018         5      M25-54     17      M     25-54
15  2019         1      M25-54     16      M     25-54
16  2019         2      M25-54     92      M     25-54
17  2019         3      M25-54     85      M     25-54
18  2019         4      M25-54     71      M     25-54
19  2019         5      M25-54     18      M     25-54
20  2018         1         M55     60      M        55
21  2018         2         M55     89      M        55
22  2018         3         M55     68      M        55
23  2018         4         M55     55      M        55
24  2018         5         M55     46      M        55
25  2019         1         M55     28      M        55
26  2019         2         M55     60      M        55
27  2019         3         M55     50      M        55
28  2019         4         M55     45      M        55
29  2019         5         M55     45      M        55
30  2018         1       F0-24     54      F      0-24
31  2018         2       F0-24     25      F      0-24
32  2018         3       F0-24     81      F      0-24
33  2018         4       F0-24     37      F      0-24
34  2018         5       F0-24     67      F      0-24
35  2019         1       F0-24     62      F      0-24
36  2019         2       F0-24     26      F      0-24
37  2019         3       F0-24     84      F      0-24
38  2019         4       F0-24     48      F      0-24
39  2019         5       F0-24     45      F      0-24
40  2018         1      F25-54     17      F     25-54
41  2018         2      F25-54     12      F     25-54
42  2018         3      F25-54     32      F     25-54
43  2018         4      F25-54     70      F     25-54
44  2018         5      F25-54     19      F     25-54
45  2019         1      F25-54     98      F     25-54
46  2019         2      F25-54     86      F     25-54
47  2019         3      F25-54     34      F     25-54
48  2019         4      F25-54     19      F     25-54
49  2019         5      F25-54     10      F     25-54
50  2018         1         F55     98      F        55
51  2018         2         F55     78      F        55
52  2018         3         F55     75      F        55
53  2018         4         F55     12      F        55
54  2018         5         F55     14      F        55
55  2019         1         F55     76      F        55
56  2019         2         F55     50      F        55
57  2019         3         F55     44      F        55
58  2019         4         F55     34      F        55
59  2019         5         F55     11      F        55

In [10]:
#11 Delete the "demographic" column then display the DataFrame:
data_frame.drop('demographic', axis=1, inplace=True)
data_frame

    year  store_id  sales gender age_group
0   2018         1     34      M      0-24
1   2018         2     54      M      0-24
2   2018         3     86      M      0-24
3   2018         4     19      M      0-24
4   2018         5     91      M      0-24
5   2019         1     46      M      0-24
6   2019         2     44      M      0-24
7   2019         3     53      M      0-24
8   2019         4     88      M      0-24
9   2019         5     37      M      0-24
10  2018         1     27      M     25-54
11  2018         2     73      M     25-54
12  2018         3     66      M     25-54
13  2018         4     58      M     25-54
14  2018         5     17      M     25-54
15  2019         1     16      M     25-54
16  2019         2     92      M     25-54
17  2019         3     85      M     25-54
18  2019         4     71      M     25-54
19  2019         5     18      M     25-54
20  2018         1     60      M        55
21  2018         2     89      M        55
22  2018         3     68      M        55
23  2018         4     55      M        55
24  2018         5     46      M        55
25  2019         1     28      M        55
26  2019         2     60      M        55
27  2019         3     50      M        55
28  2019         4     45      M        55
29  2019         5     45      M        55
30  2018         1     54      F      0-24
31  2018         2     25      F      0-24
32  2018         3     81      F      0-24
33  2018         4     37      F      0-24
34  2018         5     67      F      0-24
35  2019         1     62      F      0-24
36  2019         2     26      F      0-24
37  2019         3     84      F      0-24
38  2019         4     48      F      0-24
39  2019         5     45      F      0-24
40  2018         1     17      F     25-54
41  2018         2     12      F     25-54
42  2018         3     32      F     25-54
43  2018         4     70      F     25-54
44  2018         5     19      F     25-54
45  2019         1     98      F     25-54
46  2019         2     86      F     25-54
47  2019         3     34      F     25-54
48  2019         4     19      F     25-54
49  2019         5     10      F     25-54
50  2018         1     98      F        55
51  2018         2     78      F        55
52  2018         3     75      F        55
53  2018         4     12      F        55
54  2018         5     14      F        55
55  2019         1     76      F        55
56  2019         2     50      F        55
57  2019         3     44      F        55
58  2019         4     34      F        55
59  2019         5     11      F        55

In [11]:
#12 Sorting the DataFrame by "year", "store_id" and "gender" then display the DataFrame:
data_frame = data_frame.sort_values(by=['year', 'store_id', 'gender'])
data_frame

    year  store_id  sales gender age_group
30  2018         1     54      F      0-24
40  2018         1     17      F     25-54
50  2018         1     98      F        55
0   2018         1     34      M      0-24
10  2018         1     27      M     25-54
20  2018         1     60      M        55
31  2018         2     25      F      0-24
41  2018         2     12      F     25-54
51  2018         2     78      F        55
1   2018         2     54      M      0-24
11  2018         2     73      M     25-54
21  2018         2     89      M        55
32  2018         3     81      F      0-24
42  2018         3     32      F     25-54
52  2018         3     75      F        55
2   2018         3     86      M      0-24
12  2018         3     66      M     25-54
22  2018         3     68      M        55
33  2018         4     37      F      0-24
43  2018         4     70      F     25-54
53  2018         4     12      F        55
3   2018         4     19      M      0-24
13  2018         4     58      M     25-54
23  2018         4     55      M        55
34  2018         5     67      F      0-24
44  2018         5     19      F     25-54
54  2018         5     14      F        55
4   2018         5     91      M      0-24
14  2018         5     17      M     25-54
24  2018         5     46      M        55
35  2019         1     62      F      0-24
45  2019         1     98      F     25-54
55  2019         1     76      F        55
5   2019         1     46      M      0-24
15  2019         1     16      M     25-54
25  2019         1     28      M        55
36  2019         2     26      F      0-24
46  2019         2     86      F     25-54
56  2019         2     50      F        55
6   2019         2     44      M      0-24
16  2019         2     92      M     25-54
26  2019         2     60      M        55
37  2019         3     84      F      0-24
47  2019         3     34      F     25-54
57  2019         3     44      F        55
7   2019         3     53      M      0-24
17  2019         3     85      M     25-54
27  2019         3     50      M        55
38  2019         4     48      F      0-24
48  2019         4     19      F     25-54
58  2019         4     34      F        55
8   2019         4     88      M      0-24
18  2019         4     71      M     25-54
28  2019         4     45      M        55
39  2019         5     45      F      0-24
49  2019         5     10      F     25-54
59  2019         5     11      F        55
9   2019         5     37      M      0-24
19  2019         5     18      M     25-54
29  2019         5     45      M        55

In [12]:
#13 Reorder the columns in this order ("store_id", "age_group", "gender", "year", "sales") and then display the DataFrame:
data_frame = data_frame[["store_id", "age_group", "gender", "year", "sales"]]
data_frame

    store_id age_group gender  year  sales
30         1      0-24      F  2018     54
40         1     25-54      F  2018     17
50         1        55      F  2018     98
0          1      0-24      M  2018     34
10         1     25-54      M  2018     27
20         1        55      M  2018     60
31         2      0-24      F  2018     25
41         2     25-54      F  2018     12
51         2        55      F  2018     78
1          2      0-24      M  2018     54
11         2     25-54      M  2018     73
21         2        55      M  2018     89
32         3      0-24      F  2018     81
42         3     25-54      F  2018     32
52         3        55      F  2018     75
2          3      0-24      M  2018     86
12         3     25-54      M  2018     66
22         3        55      M  2018     68
33         4      0-24      F  2018     37
43         4     25-54      F  2018     70
53         4        55      F  2018     12
3          4      0-24      M  2018     19
13         4     25-54      M  2018     58
23         4        55      M  2018     55
34         5      0-24      F  2018     67
44         5     25-54      F  2018     19
54         5        55      F  2018     14
4          5      0-24      M  2018     91
14         5     25-54      M  2018     17
24         5        55      M  2018     46
35         1      0-24      F  2019     62
45         1     25-54      F  2019     98
55         1        55      F  2019     76
5          1      0-24      M  2019     46
15         1     25-54      M  2019     16
25         1        55      M  2019     28
36         2      0-24      F  2019     26
46         2     25-54      F  2019     86
56         2        55      F  2019     50
6          2      0-24      M  2019     44
16         2     25-54      M  2019     92
26         2        55      M  2019     60
37         3      0-24      F  2019     84
47         3     25-54      F  2019     34
57         3        55      F  2019     44
7          3      0-24      M  2019     53
17         3     25-54      M  2019     85
27         3        55      M  2019     50
38         4      0-24      F  2019     48
48         4     25-54      F  2019     19
58         4        55      F  2019     34
8          4      0-24      M  2019     88
18         4     25-54      M  2019     71
28         4        55      M  2019     45
39         5      0-24      F  2019     45
49         5     25-54      F  2019     10
59         5        55      F  2019     11
9          5      0-24      M  2019     37
19         5     25-54      M  2019     18
29         5        55      M  2019     45

In [13]:
#14 Reset the DataFrame's index then display the DataFrame:
data_frame = data_frame.reset_index(drop = True)
data_frame

    store_id age_group gender  year  sales
0          1      0-24      F  2018     54
1          1     25-54      F  2018     17
2          1        55      F  2018     98
3          1      0-24      M  2018     34
4          1     25-54      M  2018     27
5          1        55      M  2018     60
6          2      0-24      F  2018     25
7          2     25-54      F  2018     12
8          2        55      F  2018     78
9          2      0-24      M  2018     54
10         2     25-54      M  2018     73
11         2        55      M  2018     89
12         3      0-24      F  2018     81
13         3     25-54      F  2018     32
14         3        55      F  2018     75
15         3      0-24      M  2018     86
16         3     25-54      M  2018     66
17         3        55      M  2018     68
18         4      0-24      F  2018     37
19         4     25-54      F  2018     70
20         4        55      F  2018     12
21         4      0-24      M  2018     19
22         4     25-54      M  2018     58
23         4        55      M  2018     55
24         5      0-24      F  2018     67
25         5     25-54      F  2018     19
26         5        55      F  2018     14
27         5      0-24      M  2018     91
28         5     25-54      M  2018     17
29         5        55      M  2018     46
30         1      0-24      F  2019     62
31         1     25-54      F  2019     98
32         1        55      F  2019     76
33         1      0-24      M  2019     46
34         1     25-54      M  2019     16
35         1        55      M  2019     28
36         2      0-24      F  2019     26
37         2     25-54      F  2019     86
38         2        55      F  2019     50
39         2      0-24      M  2019     44
40         2     25-54      M  2019     92
41         2        55      M  2019     60
42         3      0-24      F  2019     84
43         3     25-54      F  2019     34
44         3        55      F  2019     44
45         3      0-24      M  2019     53
46         3     25-54      M  2019     85
47         3        55      M  2019     50
48         4      0-24      F  2019     48
49         4     25-54      F  2019     19
50         4        55      F  2019     34
51         4      0-24      M  2019     88
52         4     25-54      M  2019     71
53         4        55      M  2019     45
54         5      0-24      F  2019     45
55         5     25-54      F  2019     10
56         5        55      F  2019     11
57         5      0-24      M  2019     37
58         5     25-54      M  2019     18
59         5        55      M  2019     45