In [1]:
# Importing pandas and numpy library
import pandas as pd
import numpy as np

In [2]:
# Importing pandas library with alias name pd
# Importing numpy library with alias name np
import pandas as pd
import numpy as np

# Defining columns
column_names = ["BU Id", "BU Name", "Year", "Q3 Revenue", "Q4 Revenue", "Growth", "New Clients"]

# Defining lists
row1 = list([1001.0, 'Banking', 2019, '€235000', '€248000', '5.5%', 3])
row2 = list([1002.0, 'Retail', 2019, '€196000', '€205000', '4.5%', 5])
row3 = list([1003.0, 'Telecom', 2019, '€167000', '€193000', '15.5%', np.NaN])
row4 = list([1004.0, 'Life Science', 2019, '€79000', '€90000', '13.9%', 6])
row5 = list([1005.0, 'Insurance', 2019, '€241000', '€264000', '9.5%', 2])
row6 = list([1006.0, 'Hospitality', 2019, '€224000', '€111000', '-10.4%', np.NaN])
                      

# Defining a DataFrame
data_frame = pd.DataFrame(data=[row1, row2, row3, row4, row5, row6], columns=column_names)

# Showing DataFrame values
print(data_frame)

    BU Id       BU Name  Year Q3 Revenue Q4 Revenue  Growth  New Clients
0  1001.0       Banking  2019    €235000    €248000    5.5%          3.0
1  1002.0        Retail  2019    €196000    €205000    4.5%          5.0
2  1003.0       Telecom  2019    €167000    €193000   15.5%          NaN
3  1004.0  Life Science  2019     €79000     €90000   13.9%          6.0
4  1005.0     Insurance  2019    €241000    €264000    9.5%          2.0
5  1006.0   Hospitality  2019    €224000    €111000  -10.4%          NaN

In [3]:
data_frame['Q3 Revenue'] + data_frame['Q4 Revenue']

0    €235000€248000
1    €196000€205000
2    €167000€193000
3      €79000€90000
4    €241000€264000
5    €224000€111000
dtype: object

In [4]:
max(data_frame['Growth'])

'9.5%'

In [5]:
type(12)

int

In [6]:
type(12.5)

float

In [7]:
type('pandas')

str

In [8]:
type(data_frame['Q3 Revenue'])

pandas.core.series.Series

In [9]:
type(data_frame)

pandas.core.frame.DataFrame

In [10]:
data_frame.dtypes

BU Id          float64
BU Name         object
Year             int64
Q3 Revenue      object
Q4 Revenue      object
Growth          object
New Clients    float64
dtype: object

In [11]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   BU Id        6 non-null      float64
 1   BU Name      6 non-null      object
 2   Year         6 non-null      int64
 3   Q3 Revenue   6 non-null      object
 4   Q4 Revenue   6 non-null      object
 5   Growth       6 non-null      object
 6   New Clients  4 non-null      float64
dtypes: float64(2), int64(1), object(4)
memory usage: 464.0+ bytes

In [12]:
series = pd.Series([1.0,2.0,4])
print('Type of values in the series:', series.dtypes)
typecasted_series = series.astype(dtype = 'int64', copy = True, errors = 'raise')
print('Type of values in the type-casted series:', typecasted_series.dtypes)

Type of values in the series: float64
Type of values in the type-casted series: int64

In [13]:
series = pd.Series([1.0,2.0,4])
print('Type of values in the series:', series.dtypes)
typecasted_series = series.astype(dtype = 'int', copy = True, errors = 'raise')
print('Type of values in the type-casted series:', typecasted_series.dtypes)

Type of values in the series: float64
Type of values in the type-casted series: int64

In [14]:
df = pd.DataFrame(data={'col1': ['3.7', '2.0'], 'col2': ['9.1', '5.0']})
print('Type of values in the data frame:\n', df.dtypes)
typecasted_df = df.astype(dtype = 'float32', copy = True, errors = 'raise')
print('Type of values in the type-casted data frame:\n', typecasted_df.dtypes)

Type of values in the data frame:
 col1    object
col2    object
dtype: object
Type of values in the type-casted data frame:
 col1    float32
col2    float32
dtype: object

In [15]:
df = pd.DataFrame(data={'col1': ['3.7', '2.0'], 'col2': ['abc', 'xyz']})
print('Type of values in the data frame:\n', df.dtypes)
df.col1 = df.col1.astype(float)
print('Type of values in the type-casted data frame:\n', df.dtypes)

Type of values in the data frame:
 col1    object
col2    object
dtype: object
Type of values in the type-casted data frame:
 col1    float64
col2     object
dtype: object

In [16]:
df = pd.DataFrame(data={'col1': ['3.7', '2.0'], 'col2': ['abc', 'xyz'], 'col3': ['7.5', '1.9']})
print('Type of values in the data frame:\n', df.dtypes)
typecasted_df = df.astype(dtype = {'col1':'float32', 'col3':'float32'}, copy = True, errors = 'raise')
print('Type of values in the type-casted data frame:\n', typecasted_df.dtypes)

Type of values in the data frame:
 col1    object
col2    object
col3    object
dtype: object
Type of values in the type-casted data frame:
 col1    float32
col2     object
col3    float32
dtype: object

In [17]:
"""
df = pd.DataFrame(data={'col1': ['3.7', '2.0'], 'col2': ['abc', 'xyz'], 'col3': ['7.5', '1.9']})
print('Type of values in the data frame:\n', df.dtypes)
typecasted_df = df.astype(dtype = {'col2':'float32'}, copy = True, errors = 'raise')
print('Type of values in the type-casted data frame:\n', typecasted_df.dtypes)
"""

"\ndf = pd.DataFrame(data={'col1': ['3.7', '2.0'], 'col2': ['abc', 'xyz'], 'col3': ['7.5', '1.9']})\nprint('Type of values in the data frame:\n', df.dtypes)\ntypecasted_df = df.astype(dtype = {'col2':'float32'}, copy = True, errors = 'raise')\nprint('Type of values in the type-casted data frame:\n', typecasted_df.dtypes)\n"

In [18]:
df = pd.DataFrame(data={'col1': ['3.7', '2.0'], 'col2': ['abc', 'xyz'], 'col3': ['7.5', '1.9']})
print('Type of values in the data frame:\n', df.dtypes)
typecasted_df = df.astype(dtype = {'col2':'float32'}, copy = True, errors = 'ignore')
print('Type of values in the type-casted data frame:\n', typecasted_df.dtypes)

Type of values in the data frame:
 col1    object
col2    object
col3    object
dtype: object
Type of values in the type-casted data frame:
 col1    object
col2    object
col3    object
dtype: object

In [27]:
df = pd.DataFrame(data={'col1': [3.7, 2.0], 'col2': ['abc', 'xyz']})
print('Type of values in the data frame:\n', df.dtypes)
typecasted_df = df.astype(dtype = {'col2':'category'}, copy = True, errors = 'raise')
print('Type of values in the type-casted data frame:\n', typecasted_df.dtypes)

Type of values in the data frame:
 col1    float64
col2     object
dtype: object
Type of values in the type-casted data frame:
 col1     float64
col2    category
dtype: object

In [12]:
series = pd.Series([5, '7', 9.3,'non-numeric'])
series.astype('float')

ValueError: ignored

In [14]:
series = pd.Series([5, '7', 9.3,'non-numeric'])
series.astype('float', errors = 'ignore')

0              5
1              7
2            9.3
3    non-numeric
dtype: object

In [8]:
s = pd.Series(['1.0', np.NaN, -3])
s.astype('float')

0    1.0
1    NaN
2   -3.0
dtype: float64

In [15]:
series = pd.Series([5, '7', 9])
series.astype('int')

0    5
1    7
2    9
dtype: int64

In [18]:
series = pd.Series([5, '7', 9.3,'non-numeric'])
pd.to_numeric(series, errors = 'coerce')

0    5.0
1    7.0
2    9.3
3    NaN
dtype: float64

In [19]:
series = pd.Series([5, '7', 9.3,'non-numeric'])
pd.to_numeric(series, errors = 'coerce').fillna(0)

0    5.0
1    7.0
2    9.3
3    0.0
dtype: float64

In [21]:
series = pd.Series([5, '7', 9.3,'non-numeric'])
pd.to_numeric(series, errors = 'ignore')

0              5
1              7
2            9.3
3    non-numeric
dtype: object

In [13]:
series = pd.Series([5.0, '7', 9.1])
print('Default data type after type casting:', pd.to_numeric(series).dtypes)

series = pd.Series([5.0, '7', 9.1])
print('Downcasted data type after type casting:', pd.to_numeric(series, downcast = 'float').dtypes)

Default data type after type casting: float64
Downcasted data type after type casting: float32

In [2]:
pd.to_datetime(arg = '15/11/2020')

Timestamp('2020-11-15 00:00:00')

In [3]:
series = pd.Series(['14/10/2018', '15/11/2019', '16/12/2020'])
pd.to_datetime(series)

0   2018-10-14
1   2019-11-15
2   2020-12-16
dtype: datetime64[ns]

In [3]:
pd.to_datetime('15/11/2020', dayfirst = True)

Timestamp('2020-11-15 00:00:00')