In [1]:
# Importing pandas library with alias name pd
import pandas as pd

In [33]:
# Loading data into a DataFrame
data_frame = pd.read_csv('../Data/retail_purchase.csv')
    
# Showing few data from the dataset
data_frame.head()

,Receipt Id,Date of Purchase,Product Name,Product Weight,Total Price,Retail shop name
0,10001,24/05/20,Wheat,4.8lb,€17,Fline Store
1,10002,05/05/20,Fruit Juice,3.1lb,€19,Dello Superstore
2,10003,27/04/20,Vegetables,1.2lb,€15,Javies Retail
3,10004,05/05/20,Oil,3.1lb,€17,Javies Retail
4,10005,27/04/20,Wheat,4.8lb,€13,Javies Retail

In [30]:
def exercise04_01():
    # Loading data into a DataFrame
    data_frame = pd.read_csv('../Data/retail_purchase.csv')
    
    # Showing few data from the dataset
    print(data_frame.head())
    
    # Showing default data types of the columns in DataFrame
    print(data_frame.info())
    
    # Modifying data type of the column 'Date of Purchase' from text to Pandas datetime
    data_frame['Date of Purchase'] = pd.to_datetime(data_frame['Date of Purchase'], format='%d/%m/%y')
    
    # Modifying data type of the column 'Product Name' from object to category
    print('Unique Product Names:', data_frame['Product Name'].unique())
    data_frame['Product Name'] = data_frame['Product Name'].astype('category')
    
    # Modifying data type of the column 'Product Weight' from object to float
    data_frame['Product Weight'] = data_frame['Product Weight'].str[:-2]
    data_frame['Product Weight'] = data_frame['Product Weight'].astype('float')
    
    # Modifying data type of the column 'Total Price' from object to float
    data_frame['Total Price'] = data_frame['Total Price'].str[1:]
    data_frame['Total Price'] = data_frame['Total Price'].astype('float')
    
    # Modifying data type of the column 'Product Name' from object to category
    print('Unique Retail Shop Names:', data_frame['Retail shop name'].unique())
    data_frame['Retail shop name'] = data_frame['Retail shop name'].astype('category')
    
    return data_frame

In [31]:
data_frame = exercise04_01()
data_frame.head()

   Receipt Id Date of Purchase Product Name Product Weight Total Price  \
0       10001         24/05/20        Wheat          4.8lb         €17
1       10002         05/05/20  Fruit Juice          3.1lb         €19
2       10003         27/04/20   Vegetables          1.2lb         €15
3       10004         05/05/20          Oil          3.1lb         €17
4       10005         27/04/20        Wheat          4.8lb         €13

   Retail shop name
0       Fline Store
1  Dello Superstore
2     Javies Retail
3     Javies Retail
4     Javies Retail
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 6 columns):
Receipt Id          1000000 non-null int64
Date of Purchase    1000000 non-null object
Product Name        1000000 non-null object
Product Weight      1000000 non-null object
Total Price         1000000 non-null object
Retail shop name    1000000 non-null object
dtypes: int64(1), object(5)
memory usage: 45.8+ MB
None
Unique Product Names: ['Wheat' 'Fruit Juice' 'Vegetables' 'Oil' 'Butter' 'Fruits' 'Cheese'
 'Rice' 'Bread']
Unique Retail Shop Names: ['Fline Store' 'Dello Superstore' 'Javies Retail' 'Oldi Superstore'
 'Kanes Store' 'Kelly Superstore' 'Visco Retail' 'Rotero Retail']

,Receipt Id,Date of Purchase,Product Name,Product Weight,Total Price,Retail shop name
0,10001,2020-05-24,Wheat,4.8,17.0,Fline Store
1,10002,2020-05-05,Fruit Juice,3.1,19.0,Dello Superstore
2,10003,2020-04-27,Vegetables,1.2,15.0,Javies Retail
3,10004,2020-05-05,Oil,3.1,17.0,Javies Retail
4,10005,2020-04-27,Wheat,4.8,13.0,Javies Retail

In [29]:
# Seeing data types of the columns
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 6 columns):
Receipt Id          1000000 non-null int64
Date of Purchase    1000000 non-null datetime64[ns]
Product Name        1000000 non-null category
Product Weight      1000000 non-null float64
Total Price         1000000 non-null float64
Retail shop name    1000000 non-null category
dtypes: category(2), datetime64[ns](1), float64(2), int64(1)
memory usage: 32.4 MB