In [1]:
#2 Import pandas:
import pandas as pd

In [2]:
#3 Next, load the CSV file as a DataFrame on the notebook and read the CSV file:
file_url = 'https://github.com/PacktWorkshops/The-Pandas-Workshop/blob/master/Chapter04/Data/retail_purchase.csv?raw=true'
data_frame = pd.read_csv(file_url)

In [3]:
#4 Use the head() function to display the first 5 rows of the DataFrame:
data_frame.head()

,Receipt Id,Date of Purchase,Product Name,Product Weight,Total Price,Retail shop name
0,10001,24/05/20,Wheat,4.8lb,€17,Fline Store
1,10002,05/05/20,Fruit Juice,3.1lb,€19,Dello Superstore
2,10003,27/04/20,Vegetables,1.2lb,€15,Javies Retail
3,10004,05/05/20,Oil,3.1lb,€17,Javies Retail
4,10005,27/04/20,Wheat,4.8lb,€13,Javies Retail

In [4]:
#5 Use the tail() function to display the last 5 rows of the DataFrame:
data_frame.tail()

,Receipt Id,Date of Purchase,Product Name,Product Weight,Total Price,Retail shop name
99995,109996,24/05/20,Oil,4.8lb,€25,Visco Retail
99996,109997,20/04/20,Rice,3.1lb,€12,Kelly Superstore
99997,109998,08/01/20,Fruit Juice,2.7lb,€24,Dello Superstore
99998,109999,05/05/20,Butter,3.1lb,€22,Dello Superstore
99999,110000,17/04/20,Bread,4.4lb,€27,Visco Retail

In [5]:
#6 Use the info() function to display the data types of each column in the DataFrame:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Receipt Id        100000 non-null  int64
 1   Date of Purchase  100000 non-null  object
 2   Product Name      100000 non-null  object
 3   Product Weight    100000 non-null  object
 4   Total Price       100000 non-null  object
 5   Retail shop name  100000 non-null  object
dtypes: int64(1), object(5)
memory usage: 4.6+ MB

In [6]:
#7 Convert “Date of Purchase” into a datetime then display it:
data_frame['Date of Purchase'] = pd.to_datetime(data_frame['Date of Purchase'], format='%d/%m/%y')
data_frame['Date of Purchase']

0       2020-05-24
1       2020-05-05
2       2020-04-27
3       2020-05-05
4       2020-04-27
           ...
99995   2020-05-24
99996   2020-04-20
99997   2020-01-08
99998   2020-05-05
99999   2020-04-17
Name: Date of Purchase, Length: 100000, dtype: datetime64[ns]

In [7]:
#8 Remove the '€' from 'Total Price' then display it:
data_frame['Total Price'] = data_frame['Total Price'].str[1:]
data_frame['Total Price']

0        17
1        19
2        15
3        17
4        13
         ..
99995    25
99996    12
99997    24
99998    22
99999    27
Name: Total Price, Length: 100000, dtype: object

In [8]:
#9 Convert “Total Price” into a float then display it:
data_frame['Total Price'] = data_frame['Total Price'].astype('float')
data_frame['Total Price']

0        17.0
1        19.0
2        15.0
3        17.0
4        13.0
         ...
99995    25.0
99996    12.0
99997    24.0
99998    22.0
99999    27.0
Name: Total Price, Length: 100000, dtype: float64

In [9]:
#10 Remove the 'lb' from 'Product Weight' then display it:
data_frame['Product Weight'] = data_frame['Product Weight'].str[:-2]
data_frame['Product Weight']

0        4.8
1        3.1
2        1.2
3        3.1
4        4.8
        ...
99995    4.8
99996    3.1
99997    2.7
99998    3.1
99999    4.4
Name: Product Weight, Length: 100000, dtype: object

In [10]:
#11 Convert “Product Weight” into a float then display it:
data_frame['Product Weight'] = data_frame['Product Weight'].astype('float')
data_frame['Product Weight']

0        4.8
1        3.1
2        1.2
3        3.1
4        4.8
        ...
99995    4.8
99996    3.1
99997    2.7
99998    3.1
99999    4.4
Name: Product Weight, Length: 100000, dtype: float64

In [11]:
#12 Use the unique() function to each unique value of “Product Name”:
data_frame['Product Name'].unique()

array(['Wheat', 'Fruit Juice', 'Vegetables', 'Oil', 'Butter', 'Fruits',
       'Cheese', 'Rice', 'Bread'], dtype=object)

In [12]:
#13 Convert “Product Name” into a category then display it:
data_frame['Product Name'] = data_frame['Product Name'].astype('category')
data_frame['Product Name']

0              Wheat
1        Fruit Juice
2         Vegetables
3                Oil
4              Wheat
            ...
99995            Oil
99996           Rice
99997    Fruit Juice
99998         Butter
99999          Bread
Name: Product Name, Length: 100000, dtype: category
Categories (9, object): [Bread, Butter, Cheese, Fruit Juice, ..., Oil, Rice, Vegetables, Wheat]

In [13]:
#14 Use the unique() function to each unique value of “Retail shop name”:
data_frame['Retail shop name'].unique()

array(['Fline Store', 'Dello Superstore', 'Javies Retail',
       'Oldi Superstore', 'Kanes Store', 'Kelly Superstore',
       'Visco Retail', 'Rotero Retail'], dtype=object)

In [14]:
#15 Convert “Retail shop name” into a category then display it:
data_frame['Retail shop name'] = data_frame['Retail shop name'].astype('category')
data_frame['Retail shop name']

0             Fline Store
1        Dello Superstore
2           Javies Retail
3           Javies Retail
4           Javies Retail
               ...
99995        Visco Retail
99996    Kelly Superstore
99997    Dello Superstore
99998    Dello Superstore
99999        Visco Retail
Name: Retail shop name, Length: 100000, dtype: category
Categories (8, object): [Dello Superstore, Fline Store, Javies Retail, Kanes Store, Kelly Superstore, Oldi Superstore, Rotero Retail, Visco Retail]

In [15]:
#16 Use the info() function to display the data types of each column in the DataFrame:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Receipt Id        100000 non-null  int64
 1   Date of Purchase  100000 non-null  datetime64[ns]
 2   Product Name      100000 non-null  category
 3   Product Weight    100000 non-null  float64
 4   Total Price       100000 non-null  float64
 5   Retail shop name  100000 non-null  category
dtypes: category(2), datetime64[ns](1), float64(2), int64(1)
memory usage: 3.2 MB