In [1]:
#2 Import pandas
import pandas as pd

In [2]:
#3 Next, run the following code to create a series with text data:
s = pd.Series(['         Data Analysis using python with pandas is great',
               'pandas DataFrame and pandas series are useful  ',
               'PYTHON3 PANDAS'])
s

0             Data Analysis using python with panda...
1      pandas DataFrame and pandas series are useful
2                                       PYTHON3 PANDAS
dtype: object

In [3]:
#4 Use the count() function to count the number of occurrence for ‘pandas’:
s.str.count('pandas')

0    1
1    2
2    0
dtype: int64

In [4]:
#5 Use the len() function to count the number of characters in each string:
s.str.len()

0    56
1    47
2    14
dtype: int64

In [5]:
#6 Remove the leading whitespaces with strip() function and combine it with the len() function in order to count the number of characters in each string excluding leading whitespaces:
s.str.strip().str.len()

0    47
1    45
2    14
dtype: int64

In [6]:
#7 Use the startswith()function to check if each string is starting with the letter ‘p’:
s.str.startswith('p')

0    False
1     True
2    False
dtype: bool

In [7]:
#8 Use a combination of functions to force all strings to start with the letter “p”:
s.str.strip().str.replace('Data', 'pandas').str.lower().str.startswith('p')

0    True
1    True
2    True
dtype: bool

In [8]:
#9 Use the get_dummies() function to create a dataframe of dummy variables :
s.str.get_dummies(' ')

,Analysis,Data,DataFrame,PANDAS,PYTHON3,and,are,great,is,pandas,python,series,useful,using,with
0,1,1,0,0,0,0,0,1,1,1,1,0,0,1,1
1,0,0,1,0,0,1,1,0,0,1,0,1,1,0,0
2,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0

In [9]:
s = s.str.strip().str.lower()
s.str.get_dummies(' ')[['python','pandas']]

   python  pandas
0       1       1
1       0       1
2       0       1