#### Chapter 1 : Activity 1

ABC corp is a retail chain focusing mostly on grocery and stationary products. The general manager of ABC corp comes to you with the sales data of two stores and needs your help in getting answers to some of the questions on the two stores. These are the questions she wants answers from the given data

    1. Which store has greater sales for the quarter ?
    2. Which store has the highest sales for Grocery products ?
    3. Which store has the highest sales for the month of March ?
    4. In how many days were the sales of stationary products greater in store1 than store 2 ?

In [3]:
import random
import pandas as pd

In [56]:
# Creating data set for store 1 for 1 st quarter

months = [['Jan']*10,['Feb']*15,['Mar']*25]
charlist = [x for sublist in months for x in sublist]
ser1 = pd.Series(charlist)
ser1

0     Jan
1     Jan
2     Jan
3     Jan
4     Jan
5     Jan
6     Jan
7     Jan
8     Jan
9     Jan
10    Feb
11    Feb
12    Feb
13    Feb
14    Feb
15    Feb
16    Feb
17    Feb
18    Feb
19    Feb
20    Feb
21    Feb
22    Feb
23    Feb
24    Feb
25    Mar
26    Mar
27    Mar
28    Mar
29    Mar
30    Mar
31    Mar
32    Mar
33    Mar
34    Mar
35    Mar
36    Mar
37    Mar
38    Mar
39    Mar
40    Mar
41    Mar
42    Mar
43    Mar
44    Mar
45    Mar
46    Mar
47    Mar
48    Mar
49    Mar
dtype: object

In [57]:
# Get the Sales values for grocery sales, stationary sales

random.seed(123)
grocery = pd.Series(random.sample(range(10, 75), 50))
stationary = pd.Series(random.sample(range(5, 150), 50))

In [58]:
# Creating the data frame for Store 1
Store1 = pd.concat([ser1,grocery,stationary],axis=1)
Store1.columns=['Months','Grocery_sales','Stationary_sales']
Store1.head()

  Months  Grocery_sales  Stationary_sales
0    Jan             16                57
1    Jan             44               139
2    Jan             15                85
3    Jan             59                 8
4    Jan             36               106

In [59]:
# Creating data set for store 2 for 1 st quarter

months = [['Jan']*15,['Feb']*25,['Mar']*30]
charlist = [x for sublist in months for x in sublist]
ser1 = pd.Series(charlist)
ser1

0     Jan
1     Jan
2     Jan
3     Jan
4     Jan
     ...
65    Mar
66    Mar
67    Mar
68    Mar
69    Mar
Length: 70, dtype: object

In [26]:
# Get the Sales values for grocery sales, stationary sales
random.seed(321)
grocery = pd.Series(random.sample(range(1, 75), 70))
stationary = pd.Series(random.sample(range(5, 85), 70))

In [27]:
# Creating the data frame for Store 2
Store2 = pd.concat([ser1,grocery,stationary],axis=1)
Store2.columns=['Months','Grocery_sales','Stationary_sales']
Store2.head()

  Months  Grocery_sales  Stationary_sales
0    Jan             36                84
1    Jan             51                63
2    Jan             17                71
3    Jan             48                65
4    Jan             57                66

##### Question 1 : Which store had the greatest value in sales

In [60]:
# Total sales for store 1
Sales_store1 = (Store1[['Grocery_sales','Stationary_sales']].sum(axis=1)).sum()
Sales_store1

6082

In [61]:
# Total sales for store 2
Sales_store2 = (Store2[['Grocery_sales','Stationary_sales']].sum(axis=1)).sum()
Sales_store2

5847

##### Question 2 : Which store had the highest sales for Grocery

In [32]:
# Grocery sales for store 1
Sales_store1 = Store1['Grocery_sales'].sum()
Sales_store1

2097

In [33]:
# Grocery sales for store 2
Sales_store2 = Store2['Grocery_sales'].sum()
Sales_store2

2696

##### Question 3: Which store had the highest sales for the month of March

In [64]:
# Sales values aggregated for March
Sales_store1 = Store1.groupby(['Months'])[['Grocery_sales','Stationary_sales']].agg('sum').agg('sum',axis = 1)
Sales_store1

Months
Feb    1744
Jan    1467
Mar    2871
dtype: int64

In [65]:
# March sales for store 2
Sales_store2 = Store2.groupby(['Months'])[['Grocery_sales','Stationary_sales']].agg('sum').agg('sum',axis = 1)
Sales_store2

Months
Feb    2050
Jan    1419
Mar    2378
dtype: int64

##### Question 4 : In how many days were the sales value for stationary greater in store1 than store 2

In [66]:
# Stationary sales comparison
Store1_stationary_greater = Store1[Store1['Stationary_sales'].gt(Store2['Stationary_sales'],axis=0)]
Store1_stationary_greater

/home/acer/anaconda3/envs/tf-gpu/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

   Months  Grocery_sales  Stationary_sales
1     Jan             44               139
2     Jan             15                85
4     Jan             36               106
5     Jan             27               136
6     Jan             74               116
7     Jan             63               142
8     Jan             65               129
9     Jan             12               138
10    Feb             34               112
11    Feb             73               100
12    Feb             45               135
13    Feb             31                13
14    Feb             61                51
16    Feb             20               141
17    Feb             18                72
18    Feb             60               134
19    Feb             62                47
21    Feb             25                75
23    Feb             10               118
25    Mar             72                97
26    Mar             48                63
27    Mar             64                54
28    Mar             14                78
29    Mar             51               104
30    Mar             30               133
33    Mar             66                80
35    Mar             54               111
36    Mar             46               147
37    Mar             43               137
39    Mar             55                50
42    Mar             28                73
44    Mar             57               124
46    Mar             11                86
48    Mar             52                68
49    Mar             29               113

In [55]:
# No of days 
len(Store1_stationary_greater)

35