In [1]:
# Importing pandas library with alias name pd
import pandas as pd

In [2]:
def activity01_01_prep():
    # Defining columns
    column_names = ['Applicant Id', 'Applicant Name', 'Test Date', 
                    'Mathematics Score', 'Physics Score', 'Chemistry Score']
    
    # Defining lists of test records
    testRecord1 = list([1001,'James', '2020-02-01', 70, 62, 81])
    testRecord2 = list([1002,'Pritam', '2020-04-07', 86, 61, 73])
    testRecord3 = list([1003,'Pritha', '2020-02-01', 86, 67, 68])
    testRecord4 = list([1004,'David', '2020-05-15', 55, 82, 62])
    testRecord5 = list([1005,'Kaushik', '2020-05-15', 76, 84, 57])
    testRecord6 = list([1006,'Somnath', '2020-05-26', 80, 84, 49])
    testRecord7 = list([1007,'Peter', '2020-06-03', 79, 73, 63])
    
    # Defining a DataFrame from multiple Serieses
    data_frame = pd.DataFrame([testRecord1, testRecord2, testRecord3, testRecord4, 
                               testRecord5, testRecord6, testRecord7], 
                              columns=column_names)
    # Seeing data types of the columns
    print(data_frame.dtypes)
    
    # Transforming object format to datetime format
    data_frame['Test Date'] = pd.to_datetime(data_frame['Test Date'], format = '%Y-%m-%d')
    
    # Filtering data
    filtered_data_frame = data_frame[(data_frame['Test Date'] >= '2020-05-01') & (data_frame['Test Date'] < '2020-06-30')]
    print(filtered_data_frame)
    
    return filtered_data_frame

In [3]:
def activity01_01(filtered_data_frame):
    filtered_data_frame['Average Score'] = (filtered_data_frame['Mathematics Score'] + filtered_data_frame['Physics Score'] + filtered_data_frame['Chemistry Score']) / 3
    
    return filtered_data_frame

In [4]:
filtered_data_frame = activity01_01_prep()
data_frame = activity01_01(filtered_data_frame)
data_frame

Applicant Id          int64
Applicant Name       object
Test Date            object
Mathematics Score     int64
Physics Score         int64
Chemistry Score       int64
dtype: object
   Applicant Id Applicant Name  Test Date  Mathematics Score  Physics Score  \
3          1004          David 2020-05-15                 55             82
4          1005        Kaushik 2020-05-15                 76             84
5          1006        Somnath 2020-05-26                 80             84
6          1007          Peter 2020-06-03                 79             73

   Chemistry Score
3               62
4               57
5               49
6               63

,Applicant Id,Applicant Name,Test Date,Mathematics Score,Physics Score,Chemistry Score,Average Score
3,1004,David,2020-05-15,55,82,62,66.333333
4,1005,Kaushik,2020-05-15,76,84,57,72.333333
5,1006,Somnath,2020-05-26,80,84,49,71.000000
6,1007,Peter,2020-06-03,79,73,63,71.666667