In [6]:
#
# libraries
#
import pandas as pd

In [13]:
#
# load data
#
engine_power = pd.read_csv('../datasets/engine_power.csv')
engine_power.head()

         datetime       power
0  2020-1-1 00:00  221.403465
1  2020-1-1 01:55  327.370592
2  2020-1-1 03:50  223.272440
3  2020-1-1 04:04  328.380592
4  2020-1-1 05:45  329.109239

In [8]:
print(engine_power.datetime[0])
print(type(engine_power.datetime[0]))

2020-1-1 00:00
<class 'str'>

In [9]:
#
# use the Pandas method pd.to_datetime() to convert
# the datetime column from a string to a Pandas Timestamp
#
engine_power.loc[:, 'datetime'] = pd.to_datetime(engine_power['datetime'])
engine_power
#

                datetime       power
0    2020-01-01 00:00:00  221.403465
1    2020-01-01 01:55:00  327.370592
2    2020-01-01 03:50:00  223.272440
3    2020-01-01 04:04:00  328.380592
4    2020-01-01 05:45:00  329.109239
...                  ...         ...
2114 2020-04-15 11:02:00  131.620792
2115 2020-04-15 11:16:00    8.703348
2116 2020-04-15 12:43:00   23.701833
2117 2020-04-15 12:57:00  110.785479
2118 2020-04-15 13:12:00   22.869297

[2119 rows x 2 columns]

In [10]:
#
# verify the type of the datetime column
#
type(engine_power.datetime[0])

pandas._libs.tslibs.timestamps.Timestamp

In [11]:
#
# create a column with the months
#
engine_power['month'] = [engine_power.datetime[i].month
                         for i in engine_power.index]
engine_power

                datetime       power  month
0    2020-01-01 00:00:00  221.403465      1
1    2020-01-01 01:55:00  327.370592      1
2    2020-01-01 03:50:00  223.272440      1
3    2020-01-01 04:04:00  328.380592      1
4    2020-01-01 05:45:00  329.109239      1
...                  ...         ...    ...
2114 2020-04-15 11:02:00  131.620792      4
2115 2020-04-15 11:16:00    8.703348      4
2116 2020-04-15 12:43:00   23.701833      4
2117 2020-04-15 12:57:00  110.785479      4
2118 2020-04-15 13:12:00   22.869297      4

[2119 rows x 3 columns]

In [12]:
# 
# create a column with the day of month
#
engine_power['day_of_month'] = [engine_power.datetime[i].day
                                for i in engine_power.index]
print(engine_power)
print(engine_power.day_of_month.unique())

                datetime       power  month  day_of_month
0    2020-01-01 00:00:00  221.403465      1             1
1    2020-01-01 01:55:00  327.370592      1             1
2    2020-01-01 03:50:00  223.272440      1             1
3    2020-01-01 04:04:00  328.380592      1             1
4    2020-01-01 05:45:00  329.109239      1             1
...                  ...         ...    ...           ...
2114 2020-04-15 11:02:00  131.620792      4            15
2115 2020-04-15 11:16:00    8.703348      4            15
2116 2020-04-15 12:43:00   23.701833      4            15
2117 2020-04-15 12:57:00  110.785479      4            15
2118 2020-04-15 13:12:00   22.869297      4            15

[2119 rows x 4 columns]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]