# Exercise 03-01 | Gross domestic product

The task: Find and load data on GDP.


1. Load Pandas

In [2]:
import pandas as pd

2. Query a search engine

Now we know about the "datapackage" format, let's see whether there exists a prepared dataset in this format (which would help us loading it).

* [Duck Duck Go](https://duckduckgo.com/?q=gdp+datapackage)
* [Google Search](https://www.google.com/search?q=gdp+datapackage)

And indeed, we find the site: https://github.com/datasets/gdp as first or among the top results.

3. Install "pandas-datapackage-reader" to access the datapackage format.

In [3]:
!pip install pandas-datapackage-reader

Requirement already satisfied: pandas-datapackage-reader in /home/tir/.virtualenvs/pandasworkshop/lib/python3.7/site-packages (0.13.1)
Requirement already satisfied: requests in /home/tir/.virtualenvs/pandasworkshop/lib/python3.7/site-packages (from pandas-datapackage-reader) (2.23.0)
Requirement already satisfied: pandas>=0.24.0 in /home/tir/.virtualenvs/pandasworkshop/lib/python3.7/site-packages (from pandas-datapackage-reader) (1.0.3)
Requirement already satisfied: idna<3,>=2.5 in /home/tir/.virtualenvs/pandasworkshop/lib/python3.7/site-packages (from requests->pandas-datapackage-reader) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in /home/tir/.virtualenvs/pandasworkshop/lib/python3.7/site-packages (from requests->pandas-datapackage-reader) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/tir/.virtualenvs/pandasworkshop/lib/python3.7/site-packages (from requests->pandas-datapackage-reader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/tir/.virtualenvs/pandasworkshop/lib/python3.7/site-packages (from requests->pandas-datapackage-reader) (1.25.9)
Requirement already satisfied: pytz>=2017.2 in /home/tir/.virtualenvs/pandasworkshop/lib/python3.7/site-packages (from pandas>=0.24.0->pandas-datapackage-reader) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in /home/tir/.virtualenvs/pandasworkshop/lib/python3.7/site-packages (from pandas>=0.24.0->pandas-datapackage-reader) (1.18.4)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/tir/.virtualenvs/pandasworkshop/lib/python3.7/site-packages (from pandas>=0.24.0->pandas-datapackage-reader) (2.8.1)
Requirement already satisfied: six>=1.5 in /home/tir/.virtualenvs/pandasworkshop/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.24.0->pandas-datapackage-reader) (1.14.0)

4. Import the pandas datapackage adapter and load the JSON file from the GDP dataset repository.

In [4]:
import pandas_datapackage_reader as pdr

In [7]:
df = pdr.read_datapackage("https://raw.githubusercontent.com/datasets/gdp/master/datapackage.json")

5. Confirm the successful load of the data, by using head, tail and info.

In [15]:
df.head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

In [16]:
df.tail()

      Country Name Country Code  Year         Value
11502     Zimbabwe          ZWE  2012  1.424249e+10
11503     Zimbabwe          ZWE  2013  1.545177e+10
11504     Zimbabwe          ZWE  2014  1.589105e+10
11505     Zimbabwe          ZWE  2015  1.630467e+10
11506     Zimbabwe          ZWE  2016  1.661996e+10

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11507 entries, 0 to 11506
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  11507 non-null  object
 1   Country Code  11507 non-null  object
 2   Year          11507 non-null  int64
 3   Value         11507 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 359.7+ KB