In [1]:
#2 Import the pandas package:
import pandas as pd

In [2]:
#3 Load the CSV file as a DataFrame:
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter04/Data/wine_review.csv'
data_frame = pd.read_csv(file_url)

In [3]:
#4 Display the first 10 rows of the DataFrame:
data_frame.head(10)

,id,country,designation,points,price,province,region,taster_name,taster_twitter_handle,variety,winery
0,0,Italy,Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,White Blend,Nicosia
1,1,Portugal,Avidagos,87,15.0,Douro,NaN,Roger Voss,@vossroger,Portuguese Red,Quinta dos Avidagos
2,2,US,NaN,87,14.0,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Gris,Rainstorm
3,3,US,Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,Alexander Peartree,NaN,Riesling,St. Julian
4,4,US,Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Noir,Sweet Cheeks
5,5,Spain,Ars In Vitro,87,15.0,Northern Spain,Navarra,Michael Schachner,@wineschach,Tempranillo-Merlot,Tandem
6,6,Italy,Belsito,87,16.0,Sicily & Sardinia,Vittoria,Kerin O’Keefe,@kerinokeefe,Frappato,Terre di Giurfo
7,7,France,NaN,87,24.0,Alsace,Alsace,Roger Voss,@vossroger,Gewürztraminer,Trimbach
8,8,Germany,Shine,87,12.0,Rheinhessen,NaN,Anna Lee C. Iijima,NaN,Gewürztraminer,Heinz Eifel
9,9,France,Les Natures,87,27.0,Alsace,Alsace,Roger Voss,@vossroger,Pinot Gris,Jean-Baptiste Adam

In [4]:
#5 Display the data types of each column in the DataFrame:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29998 entries, 0 to 29997
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     29998 non-null  int64
 1   country                29983 non-null  object
 2   designation            21455 non-null  object
 3   points                 29998 non-null  int64
 4   price                  27850 non-null  float64
 5   province               29983 non-null  object
 6   region                 24968 non-null  object
 7   taster_name            23812 non-null  object
 8   taster_twitter_handle  22685 non-null  object
 9   variety                29998 non-null  object
 10  winery                 29998 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 2.5+ MB

In [5]:
#6 Handle missing values by replacing them and display the top 10 rows of the DataFrame:
data_frame.fillna(value = {'country': 'Unknown',
                           'designation': 'Unknown',
                           'province': 'Unknown',
                           'region': 'Unknown',
                           'taster_name': 'Unknown',
                           'taster_twitter_handle': 'Unknown',
                           'variety': 'Unknown',
                           'winery': 'Unknown',
                           'price' : 0
                          }, inplace= True)
data_frame.head(10)

,id,country,designation,points,price,province,region,taster_name,taster_twitter_handle,variety,winery
0,0,Italy,Vulkà Bianco,87,0.0,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,White Blend,Nicosia
1,1,Portugal,Avidagos,87,15.0,Douro,Unknown,Roger Voss,@vossroger,Portuguese Red,Quinta dos Avidagos
2,2,US,Unknown,87,14.0,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Gris,Rainstorm
3,3,US,Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,Alexander Peartree,Unknown,Riesling,St. Julian
4,4,US,Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Noir,Sweet Cheeks
5,5,Spain,Ars In Vitro,87,15.0,Northern Spain,Navarra,Michael Schachner,@wineschach,Tempranillo-Merlot,Tandem
6,6,Italy,Belsito,87,16.0,Sicily & Sardinia,Vittoria,Kerin O’Keefe,@kerinokeefe,Frappato,Terre di Giurfo
7,7,France,Unknown,87,24.0,Alsace,Alsace,Roger Voss,@vossroger,Gewürztraminer,Trimbach
8,8,Germany,Shine,87,12.0,Rheinhessen,Unknown,Anna Lee C. Iijima,Unknown,Gewürztraminer,Heinz Eifel
9,9,France,Les Natures,87,27.0,Alsace,Alsace,Roger Voss,@vossroger,Pinot Gris,Jean-Baptiste Adam

In [6]:
#7A Count the number of distinct unique values for “country”
data_frame['country'].nunique()

42

In [7]:
#7B Count the number of distinct unique values for “designation”
data_frame['designation'].nunique()

13589

In [8]:
#7C Count the number of distinct unique values for “province”
data_frame['province'].nunique()

332

In [9]:
#7D Count the number of distinct unique values for “region”
data_frame['region'].nunique()

967

In [10]:
#7E Count the number of distinct unique values for “taster_name”
data_frame['taster_name'].nunique()

20

In [11]:
#7F Count the number of distinct unique values for “taster_twitter_handle”
data_frame['taster_twitter_handle'].nunique()

16

In [12]:
#7G Count the number of distinct unique values for “variety”
data_frame['variety'].nunique()

479

In [13]:
#7H Count the number of distinct unique values for “winery”
data_frame['winery'].nunique()

9942

In [14]:
#8A Convert “country” into a category then display it:
data_frame['country'] = data_frame['country'].astype('category')
data_frame['country']

0           Italy
1        Portugal
2              US
3              US
4              US
           ...
29993          US
29994      France
29995          US
29996          US
29997          US
Name: country, Length: 29998, dtype: category
Categories (42, object): [Argentina, Armenia, Australia, Austria, ..., US, Ukraine, Unknown, Uruguay]

In [15]:
#8B Convert “province” into a category then display it:
data_frame['province'] = data_frame['province'].astype('category')
data_frame['province']

0        Sicily & Sardinia
1                    Douro
2                   Oregon
3                 Michigan
4                   Oregon
               ...
29993           California
29994            Champagne
29995           California
29996             New York
29997           California
Name: province, Length: 29998, dtype: category
Categories (332, object): [Aconcagua Costa, Aconcagua Valley, Aegean, Ahr, ..., Zenata, Österreichischer Sekt, Štajerska, Župa]

In [16]:
#8C Convert “region” into a category then display it:
data_frame['region'] = data_frame['region'].astype('category')
data_frame['region']

0                       Etna
1                    Unknown
2          Willamette Valley
3        Lake Michigan Shore
4          Willamette Valley
                ...
29993          Amador County
29994              Champagne
29995             California
29996           Finger Lakes
29997            Paso Robles
Name: region, Length: 29998, dtype: category
Categories (967, object): [Adelaida District, Adelaide, Adelaide Hills, Adelaide Plains, ..., Yolo County, York Mountain, Yorkville Highlands, Yountville]

In [17]:
#8D Convert “taster_name” into a category then display it:
data_frame['taster_name'] = data_frame['taster_name'].astype('category')
data_frame['taster_name']

0             Kerin O’Keefe
1                Roger Voss
2              Paul Gregutt
3        Alexander Peartree
4              Paul Gregutt
                ...
29993               Unknown
29994            Roger Voss
29995               Unknown
29996    Anna Lee C. Iijima
29997         Matt Kettmann
Name: taster_name, Length: 29998, dtype: category
Categories (20, object): [Alexander Peartree, Anna Lee C. Iijima, Anne Krebiehl MW, Carrie Dykes, ..., Sean P. Sullivan, Susan Kostrzewa, Unknown, Virginie Boone]

In [18]:
#8E Convert “taster_twitter_handle” into a category then display it:
data_frame['taster_twitter_handle'] = data_frame['taster_twitter_handle'].astype('category')
data_frame['taster_twitter_handle']

0         @kerinokeefe
1           @vossroger
2          @paulgwine
3              Unknown
4          @paulgwine
             ...
29993          Unknown
29994       @vossroger
29995          Unknown
29996          Unknown
29997    @mattkettmann
Name: taster_twitter_handle, Length: 29998, dtype: category
Categories (16, object): [@AnneInVino, @JoeCz, @bkfiona, @gordone_cellars, ..., @wineschach, @winewchristina, @worldwineguys, Unknown]

In [19]:
#8F Convert “variety” into a category then display it:
data_frame['variety'] = data_frame['variety'].astype('category')
data_frame['variety']

0                  White Blend
1               Portuguese Red
2                   Pinot Gris
3                     Riesling
4                   Pinot Noir
                 ...
29993                Zinfandel
29994          Champagne Blend
29995            Orange Muscat
29996                 Riesling
29997    Rhône-style Red Blend
Name: variety, Length: 29998, dtype: category
Categories (479, object): [Agiorgitiko, Aglianico, Albana, Albanello, ..., Zierfandler, Zierfandler-Rotgipfler, Zinfandel, Zweigelt]

In [20]:
data_frame['country'].cat.categories

Index(['Argentina', 'Armenia', 'Australia', 'Austria',
       'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Canada', 'Chile',
       'Croatia', 'Cyprus', 'Czech Republic', 'England', 'France', 'Georgia',
       'Germany', 'Greece', 'Hungary', 'India', 'Israel', 'Italy', 'Lebanon',
       'Luxembourg', 'Macedonia', 'Mexico', 'Moldova', 'Morocco',
       'New Zealand', 'Peru', 'Portugal', 'Romania', 'Serbia', 'Slovakia',
       'Slovenia', 'South Africa', 'Spain', 'Switzerland', 'Turkey', 'US',
       'Ukraine', 'Unknown', 'Uruguay'],
      dtype='object')

In [21]:
#9 Convert “price” into an int64:
data_frame['price'] = data_frame['price'].astype('int')
data_frame['price']

0         0
1        15
2        14
3        13
4        65
         ..
29993    20
29994    36
29995    14
29996    19
29997    54
Name: price, Length: 29998, dtype: int64

In [22]:
#10 Display the data types of each column in the DataFrame:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29998 entries, 0 to 29997
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     29998 non-null  int64
 1   country                29998 non-null  category
 2   designation            29998 non-null  object
 3   points                 29998 non-null  int64
 4   price                  29998 non-null  int64
 5   province               29998 non-null  category
 6   region                 29998 non-null  category
 7   taster_name            29998 non-null  category
 8   taster_twitter_handle  29998 non-null  category
 9   variety                29998 non-null  category
 10  winery                 29998 non-null  object
dtypes: category(6), int64(3), object(2)
memory usage: 1.5+ MB