In [1]:
#
# required libraries
#
import pandas as pd
#

In [2]:
#
# create a labeled series with the following data
# New York: 8,601,186 Los Angeles: 4,057,841, Seattle:766,893
# Miami: 491,724, Denver: 732,144, Chicago: 2,679,044
#
cities = ['New York', 'Los Angeles', 'Seattle', 'Miami', 'Denver', 'Chicago']
populations = pd.Series([8601186, 4057841, 766893, 491724, 732144, 2679044])
populations.index = cities
populations
#

New York       8601186
Los Angeles    4057841
Seattle         766893
Miami           491724
Denver          732144
Chicago        2679044
dtype: int64

In [3]:
#
# calculate total population for the three largest cities
#
sum(populations[['New York', 'Los Angeles', 'Chicago']])
#

15338071

In [4]:
#
# assuming data are current year and 1.5% growth YoY
# calculate the next year expected populations and store in a new Series
#
new_pops = populations * 1.015
new_pops
#

New York       8730203.790
Los Angeles    4118708.615
Seattle         778396.395
Miami           499099.860
Denver          743126.160
Chicago        2719229.660
dtype: float64

In [6]:
#
# Subtract current year from next year and display expected changes
#
new_pops - populations
#

New York       129017.790
Los Angeles     60867.615
Seattle         11503.395
Miami            7375.860
Denver          10982.160
Chicago         40185.660
dtype: float64

In [8]:
#
# repeat the change calculation but list only the three smallest cities
#
sum((new_pops - populations)[['Miami', 'Denver', 'Seattle']])
#

29861.414999999746